*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app
/gradle
/captures
.externalNativeBuild
/app/
/signing.properties
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/setting.gradle
/unsafe/build/classes
/unsafe/build/tmp
/unsafe/libs
/unsafe/.gitignore
/unsafe/src
/unsafe/build.gradle
/unsafe/unsafe.iml